.DS_Store

web/protected/cache/*
!web/protected/cache/index.html

web/protected/logs/*
!web/protected/logs/index.html

!web/protected/*/.htaccess

composer.lock

web/user_guide/*
web/user_guide_src/build/*
web/user_guide_src/cilexer/dist/*
web/user_guide_src/cilexer/pycilexer.egg-info/*
web/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
web/tests/tests/
web/tests/results/

web/\.env
web/protected/\.env

web/uploads/

web/stats/2018-10/

App/HSDroneLogApp/\.project

App/HSDroneLogApp/\.settings/org\.eclipse\.buildship\.core\.prefs
