### ISPConfig folder protection begin ###
AuthType Basic
AuthName "Members Only"
AuthUserFile /var/www/clients/client4/web59/web/protected/.htpasswd
require valid-user
### ISPConfig folder protection end ###

